<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Welcome to example.com, <%= @user.name %></h1>

<p>
  We have successfully reset your password.
</p>

<p>
  To "re"-set your password, just follow this link: <%= @url %>.
</p>

<p>Have a great day!</p>
</body>
</html>
