<div class="user-element-wrapper user-profile">
  <div class="profile-image-wrapper">
    <%= image_tag [true, false].sample ? 'boy.png' : 'girl.png',
                  {class: 'profile-image'} %>
  </div>

  <div class="profile-detail-wrapper">
    <div class="profile-detail">
      <h2 class="user-name">
        <%= @user.name %>
        <% if !current_user.nil? && current_user.id === @user.id %>
            <%= link_to t('edit'), edit_user_path(@user.id),
                        {class: 'ladda-button',
                         data: {size: 'xs'}} %>
        <% end %>
      </h2>

      <% unless @user.teacher.nil? %>
          <p><%= @user.teacher.description %></p>
      <% end %>
    </div>
  </div>
</div>