<div class="user-wrapper">
  <div class="user-image-wrapper">
    <%= image_tag [true, false].sample ? 'boy.png' : 'girl.png',
                  {class: 'user-image'} %>
  </div>

  <div class="user-detail-wrapper">
    <h2 class="user-name">
      강연자: <span class="bold"><%= user.name %></span>
      <div class="user-socials">
        <a>B</a> <a>F</a> <a>T</a>
      </div>
    </h2>

    <div class="user-description">
      <% unless user.teacher.nil? %>
          <%= user.teacher.description %>
      <% end %>
    </div>
  </div>
</div>
