<div class="not_found_wrapper">
  <h2><%= code %></h2>

  <p><%= code_status %></p>
</div>

<div class="fitvids">
  <iframe width="640" height="480" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
</div>
