<div class="open-courses">
  <% unless courses_1.nil? %>
      <section id="grid" class="clear" data-columns>
        <div class="column">
          <% courses_1.each do |course| %>
              <%= render partial: 'card', locals: {course: course} %>
          <% end %>
        </div>
        <div class="column">
          <% courses_2.each do |course| %>
              <%= render partial: 'card', locals: {course: course} %>
          <% end %>
        </div>
        <div class="column">
          <% courses_3.each do |course| %>
              <%= render partial: 'card', locals: {course: course} %>
          <% end %>
        </div>
      </section>
  <% end %>
</div>

<% content_for :banner do %>
    <h1 class="banner-head">
      <%= @admin_config.introduction %>
    </h1>
<% end %>
