$break-small: 800px;

.center-table {
  margin: 1em auto;
}

.course {
  .course-header {
    overflow: hidden;
    margin: 0 0 3em;

    .course-thumbnail {
      float: left;
      width: 50%;
      text-align: center;
      max-height: 220px;
      overflow: hidden;

      @media screen and (max-width: $break-small) {
        width: 100%;
        margin-bottom: 2em;
      }

      img {
        width: 80%;
      }
    }

    .course-summary {
      float: left;
      width: 50%;
      line-height: 1.5em;
      padding: 1em 0;

      @media screen and (max-width: $break-small) {
        width: 100%;
      }

      h2 {
        font-size: 2em;
        line-height: 1.5em;
        color: #333333;
      }

      p {
        margin: 2em 0;
      }

      p.summary {
        margin-bottom: 0;
      }

      p.schedule {
        margin-top: 1em;
        text-align: center;
        font-size: 1.2em;
        color: #555555;
      }

      .registration {
        text-align: center;
      }
    }
  }

  .course-body {
    clear: both;

    .course-body-element {
      margin-bottom: 2em;

      h3 {
        font-size: 1.5em;
        color: #555555;
      }

      p {
        margin: 1em 0;
        line-height: 1.5em;
      }
    }
  }
}
