.user-wrapper {
  overflow: hidden;
  display: table;
  border-top: 2px solid gainsboro;
  padding-top: 40px;
  
  .user-image-wrapper {
    width: 19%;
    display: table-cell;
    padding: 0 25px 0 0;
    vertical-align: top;

    .user-image {
      width: 100%;
      border-radius: 50%;
    }
  }

  .user-detail-wrapper {
    width: 100%;
    display: block;
    line-height: 32px;
    font-size: 18px;

    &>h2 {

      margin: 0 0 15px;
    }

    .user-socials {
      display: inline;
    }

    .user-description {
      display: block;
      font-size: 18px;
    }
  }
}

.show-user {
  .registered-courses {
    clear: both;
    background-color: #dddddd;
    padding: 2em 1em;

    h3 {
      color: white;
    }
  }

  .teaching-courses {
    clear: both;
    background-color: #dddddd;
    padding: 2em 1em;

    h3 {
      color: white;
    }
  }
}
